<header class="hero-search-filter">
  <div class="hero-search-filter-content">
    <form class="hero-search-filter-form" action="">
      <input type="text" class="searchTerm" placeholder="What would you like ToDO?">
      <button type="submit" class="searchButton">
        <i class="fa fa-search"></i>
      </button>
    </form>
    <ul class="hero-search-filter-menu menu align-center">
      <li><a href="#"><i class="fa fa-cutlery" aria-hidden="true"></i> Restaurants</a></li>
      <li><a href="#"><i class="fa fa-television" aria-hidden="true"></i> Watch</a></li>
      <li><a href="#"><i class="fa fa-book" aria-hidden="true"></i> Books</a></li>
      <li><a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Purchase</a></li>
    </ul>
  </div>
</header>
