<% include ../partials/header %>
  <body>
    <div class="grid-container">
      <div class="grid-x grid-padding-x">
        <div class="large-12 cell">
          <header class="hero-search-filter">
            <div class="hero-search-filter-content">
              <img class="hero-search-filter-logo" src="https://placehold.it/160x80" alt="" />
              <form class="hero-search-filter-form" action="">
                <input type="text" class="searchTerm" placeholder="What are you looking for?">
                <button type="submit" class="searchButton">
                  <i class="fa fa-search"></i>
                </button>
              </form>

              <form class="hero-search-filter-form" action="/" method="POST">
     <input type="text" class="searchTerm" name="searchBar" placeholder="What would you like ToDO?">
     <button type="submit" class="searchButton">
       <i class="fa fa-search"></i>
     </button>
   </form>
              <ul class="hero-search-filter-menu menu align-center">
                <li><a href="#"><i class="fa fa-cutlery" aria-hidden="true"></i> Restaurants</a></li>
                <li><a href="#"><i class="fa fa-television" aria-hidden="true"></i> Watch</a></li>
                <li><a href="#"><i class="fa fa-book" aria-hidden="true"></i> Books</a></li>
                <li><a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Purchase</a></li>
              </ul>
            </div>
          </header>
        </div>
      </div>
  </body>
</html>
